<!DOCTYPE html>
<html ⚡>
  <head>
    <meta charset="utf-8" />
    <title>My AMP Page</title>
    <link rel="canonical" href="self.html" />
    <meta name="viewport" content="width=device-width" />
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <style amp-custom>
      h1 {
        margin: 1rem;
      }
    </style>
    <script>
      const pagePath = window.location.pathname;
    
      const jsonLdData = {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Título da Página",
        "description": "Descrição breve da página.",
        "url": window.location.href,
        "breadcrumb": {
          "@type": "BreadcrumbList",
          "itemListElement": [
            {
              "@type": "ListItem",
              "position": 1,
              "name": "Categoria Principal",
              "item": "https://exemplo.com/categoria-principal",
              "pagePath": "/categoria-principal"
            },
            {
              "@type": "ListItem",
              "position": 2,
              "name": "Subcategoria",
              "item": "https://exemplo.com/categoria-principal/subcategoria",
              "pagePath": "/categoria-principal/subcategoria"
            }
          ]
        },
        "mainEntity": {
          "@type": "Thing",
          "name": "Categoria da Página",
          "additionalType": "https://schema.org/CategoryCode",
          "description": "Categoria específica da página para organização e SEO.",
          "pagePath": pagePath
        }
      };
    
      const script = document.createElement("script");
      script.type = "application/ld+json";
      script.textContent = JSON.stringify(jsonLdData);
      document.head.appendChild(script);
    </script>
    
  </head>
  <body>
    <h1>Hello AMPHTML World!</h1>
    <a href="../../index.html" target="_blank">Voltar ao Inicio</a>
  </body>
</html>