<!doctype html>
<html ⚡>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>AMP with Custom JS</title>
    <link rel="canonical" href="self.html">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>

    <style amp-custom>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        iframe {
            overflow: hidden;
            width: 300px;
            height: 255px;
            border: none;
        }
    </style>
</head>
<body>
    <h1>AMP Page with Console Script</h1>
    <p>This page embeds a script in an iframe.</p>

    

    
    <div id="ads" style="margin: 24px auto;text-align: center;"></div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, hic?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias itaque rerum illo vel. Nam praesentium quos atque at ipsam repellat sequi rerum sint sunt possimus, itaque vero animi et porro!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, facilis libero. Minus eaque eos odio mollitia accusantium aliquid. Minus, modi!</p>

    <div id="middle" style="margin: 24px auto;text-align: center;"></div>

    <script src="https://adtech.adtechmanagementadvertisements.workers.dev/contentamp.js"></script>
    <!--<script src="https://dihcodigo.github.io/managementadvertisements/configAMP.js"></script>-->
    <script src="../js/script.js"></script>
</body>
</html>
